@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:200,300.400,700');
*{
    margin: 0;
    padding: 0;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
*{
    margin: 0;
    padding: 0;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
*:after,*:before{
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body {
    font-size: 13px;
    color: #666666;
    background: #ffffff;
    float: left;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.clear{
    clear: both;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.fnone{
    float: none;
}

.areas-sub-div{
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    padding: 7px 0px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 40%;
    left: 10%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(3);
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

.area-radio-form label{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.area-radio-form div.radio:first-child{
    float: left
}

.area-radio-form div.radio:nth-child(1){
    float: left
}

.area-radio-form div.radio:nth-child(2){
    float: left
}

.area-radio-form .checkbox+.checkbox, .area-radio-form .radio+.radio {
    margin-top: 10px;
}

input,
textarea,
form,
label,
select {
    font-size: 15px;
    color: #666666;
}
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

select.dias_semana {
    color: #fff;
}

textarea.form-control {
    min-height: 150px;
}

ol,
ul {
    list-style: none;
}
a {
    color: #666666;
    text-decoration: none;
}
a:hover,
a:active,
a:link {
    text-decoration: none;
}
img {
    border: none;
}
/*HEADER*/

header {
    height: 60px;
}
header .container {
    position: relative;
}
header .logo {
    /*height: 80px;
    width: 200px;*/
    float: left;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px;
}
header .logo img{
    /*height: 80px;*/
    width: 200px;
}
header nav,
header nav ul,
header nav ul li {
    float: left;
}
header nav ul li {
    margin: 0 6px;
}
header nav {
    margin-left: 230px;
}
header nav ul li a {
    float: left;
    font-size: 16px;
    color: #390042;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
}
header nav ul li a:hover {
    background: #390042;
    color: #fff;
}
header .user-header {
    float: right;
}
header .user-header ul {
    float: left;
    width: auto;
}
header .user-header ul li {
    float: left;
    line-height: 60px;
}
header .user-header ul li:first-child {
    margin-right: 10px;
}
header .user-header ul li>i {
    font-size: 30px;
    float: left;
    line-height: 60px;
    margin: 0 5px 0 0;
}
header .user-header ul li i {
    color: #390042;
}
header .user-header ul li a {
    float: left;
    padding: 0 10px;
    line-height: 60px;
}
header .user-header ul li a i {
    font-size: 20px;
}
header a.button {
    float: right;
    height: 40px;
    border: 2px solid #390042;
    padding: 9px 20px;
    background: #fff;
    color: #390042;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
}
header a.button:hover,
header a.button.dark {
    background: #390042;
    color: #fff;
}
header a.button.dark:hover {
    background: #fff;
    color: #390042;
}
header nav button {
    display: none;
}
body.scroll-no {
    overflow-y: hidden;
}
.filtros-list li span {
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}
.filtros-list li span:hover {
    margin-left: 2px;
}
.labels span {
    cursor: pointer;
    font-size: 14px;
}
.labels span:hover {
    color: black;
    margin-left: 2px;
}
.map {
    margin-top: 50px;
}
.title {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #390042;
    margin-top: 30px;
    margin-bottom: 30px;
}
#icon-contato {
    color: #89009d;
    font-size: 28px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#icon-descricao {
    font-size: 22px;
    color: #89009d;
    font-weight: bold;
}
#foto-perfil {
    cursor: pointer;
    border-radius: 8px;
}

#foto-perfil .preview{
    width: 240px;
}

#foto-perfil:hover {
    opacity: 0.5;
    background-color: #808080;
}
#foto-perfil {
    cursor: pointer;
    border-radius: 8px;
}
#foto-perfil:hover {
    opacity: 0.5;
    background-color: #808080;
}
.img_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 35px;
    padding-right: 40px;
    padding-top: 47px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    font-weight: bold;
    /* transition effect. not necessary */
    transition: opacity 1s, visibility 1s;
}
#msg-email,
#msg-senha,
#msg-csenha,
#msg-ecnpj,
#msg-eemail,
#msg-cpf,
#msg-emaile,
#msg-data,
#msg-senhaa,
#msg-senhac,
#msg-fone,
#msg-ecep,
#msg-dataexp,
#msg-dataexp2,
#msg-datacurso,
#msg-datacurso2,
#msg-datacurso3,
#msg-cemail {
    margin-top: 0;
    line-height: 20px;
    color: red;
}
section,
footer,
header {
    width: 100%;
}
section.container-banner {
    height: 315px;
    border-bottom: 15px solid #390042;
    border-top: 10px solid #390042;
    background: #9e00b5;
    background: -moz-linear-gradient(top, #9e00b5 0%, #690079 100%);
    background: -webkit-linear-gradient(top, #9e00b5 0%, #690079 100%);
    background: linear-gradient(to bottom, #9e00b5 0%, #690079 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9e00b5', endColorstr='#690079', GradientType=0);
}
section.container-banner h1 {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 70px;
}
section.container-banner form {
    float: left;
    width: 100%;
    background: #fff;
    height: 50px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 15px;
}
section.container-banner form>i {
    float: left;
    margin: 0 12px 0 13px;
    line-height: 50px;
    color: #aeaeae;
    font-size: 20px;
    width: 22px;
    text-align: center;
}
section.container-banner form select,
section.container-banner form input {
    float: left;
    border: 0;
    height: 100%;
    line-height: 34px;
    font-size: 16px;
    background: #fff;
    width: calc(66% - 98px);
}
section.container-banner form select.estado,
section.container-banner form input.estado {
    width: calc(34% - 51px);
}
section.container-banner form input.vaga {
    border-right: 1px solid #f0f0f0;
}
section.container-banner form button {
    height: 50px;
    width: 55px;
    line-height: 48px;
    background: #390042;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
section.container-banner form button:hover {
    background: #89009d
}
section.container-banner .sell {
    background: #390042;
    height: 290px;
    padding: 20px 30px;
    text-align: right;
    /*float: right;
    width: 85%;
    position: relative;*/
}
section.container-banner .sell:before {
    content: '';
    width: 298px;
    height: 296px;
    background: url(../../../images/mulher.png) no-repeat;
    position: absolute;
    left: 10px;
    bottom: 0px;
}
section.container-banner .sell h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 34px;
    float: left;
    width: 100%;
}
section.container-banner .sell h2 span {
    font-size: 28px;
}
section.container-banner .sell p {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    float: left;
    width: 100%;
    margin: 10px 0 0;
}
section.container-banner .sell a.btn {
    float: right;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 36px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}
section.container-banner .sell a.btn:hover {
    background: #fff;
    color: #390042;
}
section.miolo {
    margin-top: 30px;
}
ul.news li a h5,
ul.news li a p,
ul.news {
    float: left;
    width: 100%;
}
ul.news li a figure,
ul.news li a img {
    float: left;
    width: 100%;
}
ul.news li a figure {
    height: 175px;
    position: relative;
    overflow: hidden;
}
ul.news li a figure:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(137, 0, 157, 0.5);
    opacity: 0;
    text-align: center;
    content: "\f067";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 36px;
    line-height: 175px;
}
ul.news li a:hover figure:after {
    opacity: 1;
}
ul.news li a:hover img {
    transform: scale(1.1);
}
ul.news li a h5 {
    font-size: 16px;
    line-height: 20px;
    color: #390042;
    font-weight: 700;
    margin-top: 10px;
}
ul.news li a p {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    margin-top: 10px;
}

.us-inatvo{
    margin: 50px 0px;
}

.us-inatvo a.button:hover, .us-inatvo a.button.dark {
    background: #390042;
    color: #fff;
}
.us-inatvo a.button {
    height: 40px;
    border: 2px solid #390042;
    padding: 9px 20px;
    background: #fff;
    color: #390042;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
}
.us-inatvo h2 {
    color: #390042;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    text-transform: uppercase;
    width: 100%;
}
.us-inatvo h2 strong {
    font-weight: 700;
}
.por-estado h2 {
    color: #390042;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    text-transform: uppercase;
    text-align: right;
    float: left;
    width: 100%;
}
.por-estado h2 strong {
    font-weight: 700;
}
.por-estado form {
    float: left;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #390042;
    margin-top: 10px;
    padding: 0px;
}
.por-estado form button {
    height: 48px;
    width: 55px;
    line-height: 48px;
    background: #390042;
    color: #fff;
    font-size: 20px;
    border: 0;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.por-estado form button:hover {
    background: #89009d
}
.por-estado form>i {
    float: left;
    margin: 0 12px 0 13px;
    line-height: 50px;
    color: #aeaeae;
    font-size: 20px;
    width: 22px;
    text-align: center;
}
.por-estado form select {
    float: left;
    border: 0;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
    background: #fff;
    width: calc(100% - 54px);
    margin-left: -48px;
    padding-left: 48px;
    background-color: transparent;
}
.por-estado .estados-list {
    float: left;
    width: 100%;
    background: #f9f9f9;
    height: 190px;
    overflow-y: scroll;
    margin-top: 0px;
    padding: 15px 20px;
    overflow: auto;
}
.por-estado .estados-list ul li,
.por-estado .estados-list ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.por-estado .estados-list ul li {
    line-height: 24px;
    font-size: 14px;
}
.publicidade {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
    margin-top: 15px;
}
.publicidade span {
    float: left;
    width: 100%;
    line-height: 12px;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.publicidade .container {
    width: 768px;
}
.publicidade .container img {
    float: left;
    max-width: 100%;
}
.empresas div.slide,
.empresas div.slide .emp a {
    float: left;
    width: 100%;
}
.empresas div.slide div.emp a {
    border: 1px solid #cecece;
    text-align: center;
    padding: 20px 25px 0;
    margin-top: 30px;
    height: 160px;
    position: relative;
}
.empresas div.slide div.emp a img {
    float: none;
    display: inline-block;
    width: auto;
    height: 90px;
}
.empresas div.slide div.emp a strong {
    color: #999;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    height: 35px;
    padding: 15px 0 0;
    margin: 5px 0 15px;
    overflow: hidden;
    position: relative;
}
.empresas div.slide div.emp a strong:before {
    position: absolute;
    top: -0px;
    left: 20px;
    right: 20px;
    background: #f5f5f5;
    height: 1px;
    content: '';
    width: calc(100% - 40px);
}
.empresas div.slide div.emp a strong:after {
    content: "\f101";
    font-family: 'FontAwesome';
}
.empresas div.slide div.emp a:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(102, 102, 102, 0.5);
    content: '';
    opacity: 0;
    text-align: center;
    content: "\f067";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 36px;
    line-height: 160px;
}
.empresas div.slide div.emp a:hover::after {
    opacity: 1;
}
.empresas div.slide div.emp a:hover strong {
    color: #000;
}
/*MODAL*/

.modal {
    position: fixed;
    /*background: rgba(0, 0, 0, 0.7);*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
}
.modal-content {
    border-radius: 0px;
}

.modal .box {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    transform: translate(-50%, -50%);
    /*width: 740px;*/
    background: #fff;
    /*height: auto;
    padding: 30px 0;
    border: 1px solid #cccccc;
    overflow: hidden;
    z-index: 9999999;
    display: none;*/
}

.modal .h-490{
    height: 490px;
}

.modal .box .top-modal{
    height: 60px;
}

.modal .box .corpo-modal{
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal .box .bot-modal{

}

.modal.active,
.modal .box.active {
    display: block;
}
.modal .box button.close {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 20px;
    font-size: 20px;
    background: transparent;
    border: 0;
    width: 20px;
    cursor: pointer;
    color: #333;
    opacity: 1;
    margin: 5px;
}
.modal .box button.close:hover {
    opacity: 0.5;
}
.modal .box.small {
    width: 430px;
    height: auto;
}
.modal .box h2 {
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #390042;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.modal .box.small h2 {
    margin-top: 20px;
}
.modal .box.small form {
    padding: 0 45px;
    overflow: hidden;
    height: auto;
}
.modal button:not(.multiselect),
.modal a.button {
    height: 40px;
    border: 2px solid #390042;
    padding: 9px 20px;
    background: #fff;
    color: #390042;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.modal a:link, .modal a:active, .modal a:hover{
    text-decoration: none;
}
a.buttonmd {
    height: 34px;
    border: 2px solid #390042;
    padding: 9px 20px;
    background: #fff;
    color: #390042;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal buttonmd, .modal a.buttonmd {
    height: 34px;
    border: 2px solid #390042;
    padding: 9px 20px;
    background: #fff;
    color: #390042;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}

a.buttonmini{
    height: 21.5px;
    border: 2px solid #e1230d;
    padding: 2px 20px;
    background: #e1230d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.modal a.buttonmini{
    height: 21.5px;
    border: 2px solid #e1230d;
    padding: 2px 20px;
    background: #e1230d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.modal ul#idiomasgrid span:first-child{

}
.modal ul#idiomasgrid span{

}
.modal ul#idiomasgrid button{
    height: 34px;
    border: 2px solid #390042;
    padding: 9px 20px;
    background: #fff;
    color: #390042;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.modal .box button.cancelar {
    margin-right: 10px;
    background-color: white;
    color: #710082;
}
.modal .box button.cancelar {
    margin-right: 10px;
    background-color: white;
    color: #710082;
}
.modal .box button.cancelar:hover {
    margin-right: 10px;
    background-color: #710082;
    color: white;
}
.modal .box button.cancelar:hover {
    margin-right: 10px;
    background-color: #710082;
    color: white;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 800;
    background-color: #000;
}
.modal a.button:hover,
.modal a.button.dark,
.modal button:not(.multiselect) {
    background: #390042;
    color: #fff;
}
.modal .box form .full.msg p,
.miolo-conteudo .form-area form textarea,
.miolo-conteudo .form-area form .full ul,
.miolo-conteudo .form-area form .full ul li,
.miolo-conteudo .form-area form .full+span,
.miolo-conteudo .form-area form .full,
.miolo-conteudo .form-area form label select,
.modal .box form textarea,
.modal .box form .full ul,
.modal .box form .full ul li,
.modal .box form .full+span,
.modal .box form .full,
.modal .box form label:not(.opckb),
.modal .box form label select,
.modal .box form label input {
    float: left;
    width: 100%;
    position: relative;
}
.modal button.mini{
    display: block;
    font-size: 10px;
    height: 30px;
    padding: 5px 5px;
}

.modal button.btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.modal button.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.modal .box form.cadvagas .area-radio-form label{
    width: auto;
}

.modal .box form.cadvagas input[type="checkbox"] {
    float: left;
    margin-right: 10px;
}
.modal .box form.cadvagas input[type="radio"] {
    float: left;
    margin-right: -5px;
}

.modal .box form.cadvagas #avisochecks, .modal .box form.cadvagas #avisochecks2, .modal .box form.cadvagas #avisochecks3 {
    color: red;
}

.modal .box form.cadvagas .checks label {
    width: 80%;
}

.modal .box form.cadvagas label {
    min-width: 37px;
    width: auto;
}

.modal .box form .full.msg {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 18px;
    background: #f0f0f0;
    padding: 5px 10px;
}
.modal .box form .full.msg p {
    margin: 0;
}
.modal .box form a.btn-facebook:hover {
    background: #fff;
    color: #035da7;
}
.modal .box form a.btn-facebook i {
    float: left;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    margin-right: 10px;
}
.modal .box .steps {
    margin-top: 10px;
}
.modal .box form a.btn-facebook:hover i {
    color: #035da7;
}
.modal .box a.empresa {
    background: #999;
    line-height: 46px;
    width: 100%;
    margin: 0;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid #999;
}
.modal .box a.empresa:hover {
    background: #fff;
    color: #666;
}
/*.modal .box form {
    display: none;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
}*/
.modal .box.small form {
    border-top: 0;
    padding-top: 0;
}
/*.modal .box form.active {
    display: block;
    overflow: hidden;
}*/
.modal .box .form {
    display: none;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
}
.modal .box.small .form {
    border-top: 0;
    padding-top: 0;
}
.modal .box .form.active {
    display: block;
    overflow: hidden;
}
.msg-alterar{
    font-size: 14px;
}
/*FOOTER*/

footer {
    margin-top: 30px;
}
footer a.link_termos{
    text-decoration: underline;
}

footer section.footer-top {
    background: #89009d;
}
footer section.footer-top ul.social li,
footer section.footer-top nav,
footer section.footer-top nav ul,
footer section.footer-top nav ul li {
    float: left;
}
footer section.footer-top ul.social li,
footer section.footer-top nav ul li {
    margin: 0 6px;
}
footer section.footer-top ul.social li a,
footer section.footer-top nav ul li a {
    float: left;
    font-size: 16px;
    color: #fff;
    padding: 20px 10px;
    height: 65px;
}
footer section.footer-top nav ul li a:hover {
    background: #390042;
}
footer section.footer-top nav ul li:first-child {
    margin-left: 0;
}
footer section.footer-top ul.social, footer section.footer-top ul.menu {
    float: right;
    margin-top: 0px;
}
footer section.footer-top ul.social li a {
    font-size: 22px;
}
footer section.footer-top ul.social li:last-child a {
    margin-right: 0;
}
footer section.footer-top ul {
    margin-bottom: 0;
}
footer section.footer-bot {
    background: #390042;
    height: 40px;
}
footer section.footer-bot span {
    float: left;
    color: #fff;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
}
footer section.footer-bot span a {
    color: #fff;
}
footer section.footer-bot span.right {
    text-align: right;
}
/* FILTER*/

.filter.open h5:before {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    line-height: 24px;
}
.filter.close h5:before {
    content: "\f106";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    line-height: 24px;
}
.filter.close h5,
.filter.open h5 {
    cursor: pointer;
}
.filter .labels {
    margin-top: 15px;
}
.filter.close .labels {
    display: none;
}
.filter.close {
    padding: 13px 30px;
    opacity: 1;
}
.filter.open .labels {
    display: block;
}
.filter .labels,
.filter label,
.filter ul,
.filter ul li {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}
.filter ul {
    margin-top: 0px;
}
.filter ul li {
    font-size: 11px;
    line-height: 20px;
}
.filter ul li span{
    cursor: pointer;
    font-size: 80%;
    vertical-align: text-bottom;
}
.area_filtro{
    height: 150px;
    overflow-x:hidden;
    overflow-y: auto;
}
.filter ul li button {
    font-size: 16px;
    cursor: pointer;
    color: #666;
    width: 22px;
    line-height: 30px;
    border: 0;
    text-align: left;
    background: transparent;
}
.filter ul li button:hover {
    opacity: 0.5;
}
.filter label input {
    height: 25px;
    float: left;
}
.filter label span {
    float: right;
    font-size: 14px;
    line-height: 20px;
    padding: 6.5px 0;
    width: calc(100% - 20px);
}
.miolo-conteudo button.btn-filtro {
    height: 35px;
    line-height: 31px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background: #710082;
    border: 2px solid #710082;
    padding: 0 20px;
    letter-spacing: .4px;
    cursor: pointer;
    border-radius: 5px;
}
.miolo-conteudo .vagas ul li .foot a.btn-selecandidato {
    float: right;
    height: 35px;
    line-height: 31px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
    color: #710082;
    border: 2px solid #710082;
    padding: 0 20px;
    letter-spacing: .4px;
    cursor: pointer;
    border-radius: 5px;
}
.miolo-conteudo .vagas ul li .foot a.btn-selecandidato:before {
    content: "\f046";
    font-family: "FontAwesome";
}
.miolo-conteudo .vagas ul li .foot a.btn-enviado {
    float: right;
    height: 35px;
    line-height: 31px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
    color: #710082;
    border: 2px solid #710082;
    padding: 0 20px;
    letter-spacing: .4px;
    cursor: pointer;
    border-radius: 5px;
}
.miolo-conteudo .vagas ul li .foot a.btn-login {
    float: right;
    height: 35px;
    line-height: 31px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background: #710082;
    border: 2px solid #710082;
    padding: 0 20px;
    letter-spacing: .4px;
    cursor: pointer;
    border-radius: 5px;
}

.miolo-conteudo .vagas ul li .foot a.btn-login:before {
    content: "\f046";
    font-family: "FontAwesome";
}
.miolo-conteudo .dashboard {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.miolo-conteudo .dashboard button.item {
    color: #710082;
    background-color: #f2f2f2;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #710082;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    padding: 40px;
    margin-top: 40px;
}
.miolo-conteudo .dashboard button.item:hover {
    background-color: #cccccc;
}
.miolo-conteudo .dashboard button.item i.fa {
    font-size: 24px;
    margin-right: 10px;
}
.miolo-conteudo {
    border-top: 40px solid #390042;
    padding-top: 30px;
}
.miolo-conteudo .form-area form {
    height: auto;
    overflow: hidden;
    padding: 0;
}
.miolo-conteudo .form-area form label.half,
.miolo-conteudo .form-area form .half,
.modal .box form .half,
.modal .box form label.half {
    width: calc(50% - 5px);
    float: left;
}
.miolo-conteudo .form-area form label.trd,
.modal .box form label.trd {
    width: calc(33.33333333% - 6.66666666666px);
}
.miolo-conteudo .form-area form label.trd,
.modal .box form label.trd {
    margin-right: 10px;
}
.miolo-conteudo .form-area form label.trd:nth-child(3n),
.miolo-conteudo .form-area form label.trd:last-child,
.modal .box form label.trd:nth-child(3n),
.modal .box form label.trd:last-child {
    margin-right: 0;
}
.miolo-conteudo .form-area form .checks,
.modal .box form .checks {
    margin-bottom: 10px;
}
.miolo-conteudo .form-area form .checks label.trd,
.modal .box form .checks label.trd {
    margin-bottom: 0;
    height: 30px;
}
.miolo-conteudo .form-area form .checks label.trd input,
.miolo-conteudo .form-area form .checks label.trd span,
.modal .box form .checks label.trd input,
.modal .box form .checks label.trd span {
    line-height: 30px;
    height: 30px;
}
.miolo-conteudo .form-area form .quad,
.modal .box form .quad {
    width: calc(30% - 5px);
    float: left;
}
.miolo-conteudo .form-area form .quad3,
.modal .box form .quad3 {
    width: calc(70% - 5px);
    float: left;
}
.miolo-conteudo .form-area form .image,
.modal .box form .image {
    height: 230px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.miolo-conteudo .form-area form .file,
.miolo-conteudo .form-area form .info,
.modal .box form .file {
    float: right;
}
.miolo-conteudo .form-area form .file input[type="file"],
.modal .box form .file input[type="file"] {
    border: 0;
    padding: 7px 0;
}
.miolo-conteudo .form-area form .file input::-webkit-file-upload-button,
.modal .box form .file input::-webkit-file-upload-button {
    visibility: hidden;
}
.miolo-conteudo .form-area form .file input::before,
.modal .box form .file input::before {
    display: inline-block;
    cursor: pointer;
    float: left;
    font-size: 10px;
    padding: 0 10px;
    height: 30px;
    line-height: 28px;
    content: 'Selecionar imagem';
    background: #666;
    border: 1px solid #666;
    border-radius: 5px;
    float: left;
    margin: -2px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
}
.miolo-conteudo .form-area form .file input:hover::before,
.modal .box form .file input:hover::before {
    background: #fff;
    color: #666;
}
.miolo-conteudo .form-area form .image i,
.modal .box form .image i {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    line-height: 250px;
    font-size: 88px;
}
.miolo-conteudo .form-area form .quad:last-child,
.miolo-conteudo .form-area form .quad3:last-child,
.miolo-conteudo .form-area form .half:nth-child(even),
.miolo-conteudo .form-area form label.half:nth-child(even),
.modal .box form .quad:last-child,
.modal .box form .quad3:last-child,
.modal .box form .half:nth-child(even),
.modal .box form label.half:nth-child(even) {
    float: right;
}
.miolo-conteudo .form-area form textarea,
.miolo-conteudo .form-area form label select,
.miolo-conteudo .form-area form label input,
.modal .box form textarea,
.modal .box form label select,
.modal .box form label input {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    padding: 0 45px 0 15px;
    line-height: 40px;
    font-size: 16px;
}
.miolo-conteudo .form-area form textarea,
.modal .box form textarea {
    height: 143px;
    padding: 5px 45px 5px 15px;
    line-height: 20px;
}
.miolo-conteudo .form-area form label i,
.modal .box form label i {
    position: absolute;
    color: #c9c9c9;
    font-size: 16px;
    line-height: 40px;
    width: 20px;
    text-align: center;
    right: 15px;
    top: 0;
}
.miolo-conteudo .form-area form strong label,
.miolo-conteudo .form-area form label label,
.modal .box form strong label,
.modal .box form label label {
    width: auto;
    line-height: 40px;
    margin: 0 0 0 15px;
}
.miolo-conteudo .form-area form strong span,
.miolo-conteudo .form-area form label span,
.modal .box form strong span,
.modal .box form label span {
    float: left;
    line-height: 40px;
    font-size: 14px;
}
.miolo-conteudo .form-area form strong label span,
.modal .box form strong label span {
    font-weight: 400;
}
.miolo-conteudo .form-area form label input[type="radio"],
.miolo-conteudo .form-area form label input[type="checkbox"],
.modal .box form label input[type="radio"],
.modal .box form label input[type="checkbox"] {
    width: auto;
    height: 32px;
    margin-right: 5px;
}

.modal .box form label input[type="checkbox"] {
    width: auto;
    height: 0px;
    margin-right: 5px;
}

.miolo-conteudo .form-area form div.dias_semanas label input[type="checkbox"] {
    width: auto;
    height: 12px;
    margin-right: 5px;
}

.miolo-conteudo .info-step button:hover,
.miolo-conteudo .form-area form button:hover,
.modal .box form button:hover {
    background: #fff;
    color: #710082;
}
.miolo-conteudo .info-step button:hover i,
.miolo-conteudo .form-area form button:hover i,
.modal .box form button:hover i {
    color: #710082;
}
.miolo-conteudo .form-area form a.link,
.modal .box form a.link {
    /*    float: left;
        line-height: 35px;
        font-style: italic;*/
}
.miolo-conteudo .form-area form a.link:hover,
.modal .box form a.link:hover {
    text-decoration: underline;
}
.miolo-conteudo .form-area form .full+span,
.modal .box form .full+span {
    text-align: center;
    font-size: 12px;
    margin: 15px 0;
}
.miolo-conteudo .form-area form a.btn-facebook,
.modal .box form a.btn-facebook {
    float: none;
    display: inline-block;
    background: #035da7;
    border: 2px solid #035da7;
    border-radius: 5px;
    height: 40px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: 700;
    padding: 0 25px;
}
.miolo-conteudo .form-area .steps {
    margin-top: 10px;
}
.miolo-conteudo .form-area .steps,
.miolo-conteudo .form-area .steps ul,
.modal .box .steps ul,
.modal .box .steps {
    text-align: center;
}
.miolo-conteudo .form-area .steps ul li,
.modal .box .steps ul li {
    float: none;
    display: inline-block;
    text-align: center;
    position: relative;
}
.miolo-conteudo .form-area .steps ul li .op,
.modal .box .steps ul li .op {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid #666;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.miolo-conteudo .form-area .steps ul li:before,
.miolo-conteudo .form-area .steps ul li:after,
.modal .box .steps ul li:before,
.modal .box .steps ul li:after {
    right: -2px;
    top: 6px;
    height: 2px;
    background: #666;
    width: calc(50% - 6px);
    position: absolute;
    content: '';
}
.miolo-conteudo .form-area .steps ul li:before,
.modal .box .steps ul li:before {
    left: -2px;
    right: auto;
}
.miolo-conteudo .form-area .steps ul li.active .op,
.modal .box .steps ul li.active .op {
    background: #710082;
    border-collapse: #710082;
}
.miolo-conteudo .form-area .steps ul li i,
.modal .box .steps ul li i {
    font-size: 19px;
    color: #710082;
    line-height: 26px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 13px 0 5px;
}
.miolo-conteudo .form-area .steps ul li span,
.modal .box .steps ul li span {
    float: left;
    width: 100%;
    padding: 0 10px;
    font-size: 13px;
    text-transform: uppercase;
}
.miolo-conteudo .form-area .steps ul li:last-child::after,
.miolo-conteudo .form-area .steps ul li:first-child::before,
.modal .box .steps ul li:last-child::after,
.modal .box .steps ul li:first-child::before {
    display: none;
}
.miolo-conteudo .form-area form label.third,
.modal .box form label.third {
    width: calc(50% - 70px);
}
.miolo-conteudo .form-area form label.third+label.third,
.modal .box form label.third+label.third {
    margin-left: 10px;
}
.miolo-conteudo .form-area form button.add:hover,
.modal .box form button.add:hover {
    color: #666;
    background: #fff;
}
.miolo-conteudo .form-area form button.add:hover i,
.modal .box form button.add:hover i {
    color: #666;
}
.miolo-conteudo .form-area form .full.border,
.modal .box form .full.border {
    border-top: 1px solid #666;
}
.miolo-conteudo .form-area form .full strong,
.modal .box form .full strong {
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}
.miolo-conteudo .form-area form .full strong.mb15,
.modal .box form .full strong.mb15 {
    margin-bottom: 15px;
    height: 40px;
}
.miolo-conteudo .form-area form .full strong+span,
.modal .box form .full strong+span {
    margin-top: -10px;
    line-height: 20px;
    font-size: 14px;
    float: left;
    width: 100%;
    font-style: italic;
    margin-bottom: 10px;
}
.miolo-conteudo .form-area form .full ul, .miolo-conteudo .form-area form .full table,
.modal .box form .full ul {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.miolo-conteudo .form-area form .full ul li, .miolo-conteudo .form-area form .full table tr,
.modal .box form .full ul li {
    border-top: 1px solid #eee;
    padding: 6px 15px;
}
.miolo-conteudo .form-area form .full ul li:nth-child(even), .miolo-conteudo .form-area form .full table tr:nth-child(even),
.modal .box form .full ul li:nth-child(even) {
    background: #f0f0f0;
}
.miolo-conteudo .form-area form .full ul li span,
.modal .box form .full ul li span {
    float: left;
    width: calc(50% - 38px);
    font-size: 14px;
    line-height: 18px;
    padding-right: 10px;
}
.miolo-conteudo .form-area form .full table tr span{
    float: left;
    font-size: 14px;
    line-height: 18px;
    padding-right: 10px;
}
.miolo-conteudo .form-area form .full ul li button, .miolo-conteudo .form-area form .full table tr button,
.modal .box form .full ul li button {
    height: 18px;
    line-height: 16px;
    background: #c9302c;
    border: 1px solid #c9302c;
    color: #fff;
    font-size: 10px;
    width: 76px;
    text-align: center;
    padding: 0;
}

.miolo-conteudo .form-area form .full table tr button.edit {
    background: #f59c17;
    border: 1px solid #f59c17;
}

.miolo-conteudo .form-area form .full ul li button.edit, .miolo-conteudo .form-area form .full table tr button.edit,
.modal .box form .full ul li button.edit {
    width: 60px;
    background: #666;
    border-color: #666;
    float: left;
    margin-right: 10px;
}
.miolo-conteudo .form-area form .full ul li button.edit:hover,.miolo-conteudo .form-area form .full table tr button.edit:hover,
.modal .box form .full ul li button.edit:hover {
    color: #666;
}
.miolo-conteudo .form-area form .full ul li button:hover,.miolo-conteudo .form-area form .full table tr button:hover,
.modal .box form .full ul li button:hover {
    color: #c9302c;
    background: #fff;
}
.miolo-conteudo .form-area form .full ul li button:hover i,.miolo-conteudo .form-area form .full table tr button:hover i,
.modal .box form .full ul li button:hover i {
    color: #c9302c;
}
.miolo-conteudo .form-area form .full ul li button.edit:hover i,.miolo-conteudo .form-area form .full table tr button.edit:hover i,
.modal .box form .full ul li button.edit:hover i {
    color: #666;
}
.miolo-conteudo .form-area form .full ul.edit li span,
.modal .box form .full ul.edit li span {
    width: calc(50% - 73px);
}
.miolo-conteudo .form-area form .full table.edit tr span{
    /*width: calc(50% - 73px);*/
}
.miolo-conteudo nav,
.miolo-conteudo nav ul,
.miolo-conteudo nav ul li {
    float: left;
    width: 100%;
}
.miolo-conteudo nav ul li a,
.filter {
    background: #f2f2f2;
    float: left;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 10px;
}
.miolo-conteudo nav ul li a h5,
.filter h5 {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
.miolo-conteudo nav ul li a {
    padding: 13px 20px;
    position: relative;
}
.miolo-conteudo nav ul li a h5 i,
.filter h5 i {
    color: #7d0091;
    font-size: 22px;
    float: left;
    width: 30px;
    line-height: 24px;
}
.miolo-conteudo nav ul li a.deactive h5 {
    opacity: 0.4;
}
.miolo-conteudo nav ul li a.deactive:after {
    content: 'Em breve!';
    position: absolute;
    right: -3px;
    top: -3px;
    font-size: 10px;
    color: #fff;
    background: #666;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 3px 5px;
    border-radius: 5px;
}
.miolo-conteudo nav ul li a:hover,
.miolo-conteudo nav ul li a.active {
    border-left: 5px solid #7d0091;
}
.miolo-conteudo nav ul li a.deactive:hover {
    border: 0;
    cursor: unset;
}
section.form-sec {
    height: 65px;
}
.miolo-conteudo form.search {
    float: left;
    width: 100%;
    background: #f8f8f8;
    height: 50px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.miolo-conteudo form.search>i {
    float: left;
    margin: 0 12px 0 13px;
    line-height: 50px;
    color: #aeaeae;
    font-size: 20px;
    width: 22px;
    text-align: center;
}
.miolo-conteudo form.search input,
.miolo-conteudo form.search select {
    float: left;
    border: 0;
    height: 100%;
    line-height: 34px;
    font-size: 16px;
    background: #f8f8f8;
    width: calc(66% - 98px);
}
.miolo-conteudo form.search select.estado {
    width: calc(34% - 51px);
}
.miolo-conteudo form.search input.vaga {
    border-right: 1px solid #f0f0f0;
}
.miolo-conteudo form.search.vagas {
    height: auto;
    position: relative;
    margin-bottom: 30px;
}
.miolo-conteudo form.search.vagas input,
.miolo-conteudo form.search.vagas select {
    float: left;
    border: 0;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    margin: 8px 0;
    background: #f8f8f8;
    width: calc(19% - 61px);
}
.miolo-conteudo form.search.vagas input {
    width: calc(47% - 61px);
}
.miolo-conteudo form.search button {
    height: 50px;
    width: 55px;
    line-height: 50px;
    background: #390042;
    color: #fff;
    font-size: 20px;
    border: 0;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.miolo-conteudo form.search.vagas button.clean {
    width: auto;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 12px;
    margin: 0px 5px;
    border-radius: 5px;
    float: right;
}
.miolo-conteudo form.search.vagas button.clean:hover {
    text-decoration: none;
}
.miolo-conteudo form.search button:hover {
    background: #89009d
}
.miolo-conteudo .vagas {
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.miolo-conteudo .vagas .list-flt {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.miolo-conteudo .vagas .list-flt select {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 60px;
}
.miolo-conteudo .vagas .list-flt>select {
    width: 170px;
}
.miolo-conteudo .vagas .list-flt .arrows,
.miolo-conteudo .vagas .list-flt label {
    float: right;
    line-height: 30px;
    height: 30px;
    text-align: right;
    width: calc(100% - 240px);
    margin-right: 15px;
}
.miolo-conteudo .vagas .list-flt .arrows {
    width: 55px;
    margin: 0;
}
.miolo-conteudo .vagas .list-flt label span {
    width: auto;
    height: 30px;
    line-height: 30px;
    float: none;
    display: inline-block;
    margin: 0 5px;
}
.miolo-conteudo .vagas .list-flt label select {
    float: none;
    display: inline-block;
}
.miolo-conteudo .vagas .list-flt .arrows a {
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    width: 25px;
}
.miolo-conteudo .vagas .list-flt .arrows a:first-child {
    margin-right: 5px;
}
.miolo-conteudo .vagas .list-flt .arrows a:hover {
    opacity: 0.6;
}
.miolo-conteudo .vagas ul,
.miolo-conteudo .vagas ul li {
    float: left;
    width: 100%;
}
.miolo-conteudo .vagas ul li {
    margin-top: 20px;
    border: 1px solid #f2f2f2;
}
.miolo-conteudo .vagas ul li .ttl {
    float: left;
    width: 100%;
    background: #f2f2f2;
    padding: 15px;
}
.miolo-conteudo .vagas ul li .ttl figure {
    width: 112px;
    height: 112px;
    border-radius: 100%;
    float: left;
    overflow: hidden;
}
.miolo-conteudo .vagas ul li .ttl figure img {
    max-width: 100%;
}
.miolo-conteudo .vagas ul li .ttl .rt {
    float: left;
    width: calc(100% - 140px);
}
.miolo-conteudo .vagas ul li .ttl figure+.rt {
    margin-left: 20px;
    width: calc(100% - 132px);
}
.miolo-conteudo .vagas ul li .ttl .lt {
    float: right;
    width: 120px;
    text-align: right;
    font-size: 15px;
}
.miolo-conteudo .vagas ul li .ttl .lt i {
    color: #7d0091;
    /*font-size: 20px;*/
}

.miolo-conteudo .vagas div.share a i {
    color: #7d0091;
    font-size: 30px;
    margin-left: 10px;
}
.miolo-conteudo .vagas ul li .ttl .rt h6 {
    float: left;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
}
.miolo-conteudo .vagas ul li .ttl .rt .item {
    float: left;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    margin-top: 10px;
}
.miolo-conteudo .vagas ul li .ttl .rt .item i {
    color: #7d0091;
}
.miolo-conteudo .vagas ul li .info {
    float: left;
    width: 100%;
    background: #fff;
    padding: 15px;
    font-size: 15px;
}
.miolo-conteudo .vagas ul li .info p:first-child {
    margin-top: 0;
}
.miolo-conteudo .vagas ul li .info p {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}
.miolo-conteudo .vagas ul li .info a.oportunidade {
    float: left;
    color: #7d0091;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}
.miolo-conteudo .vagas ul li .info a.oportunidade:hover i {
    display: inline-block;
    margin-left: 5px;
}
.miolo-conteudo .vagas ul li .foot {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    border-top: 1px solid #f2f2f2;
}
.miolo-conteudo .vagas ul li .foot span {
    float: left;
    margin: 6px 0 6px 10px;
    padding: 0 0 0 10px;
    line-height: 23px;
    border-left: 1px solid #f2f2f2;
}
.miolo-conteudo .vagas ul li .foot span:first-child {
    border-left: 0;
    margin: 6px 0;
    padding: 0;
}
.miolo-conteudo .vagas ul li .foot a.btn {
    float: right;
    height: 35px;
    line-height: 31px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background: #710082;
    border: 2px solid #710082;
    padding: 0 20px;
    letter-spacing: .4px;
    cursor: pointer;
    border-radius: 5px;
}
.miolo-conteudo .vagas ul li .foot a.btn:before {
    content: "\f046";
    font-family: "FontAwesome";
}
.miolo-conteudo .vagas ul li .foot a.btn.active,
.miolo-conteudo .vagas ul li .foot a.btn:hover {
    background: #fff;
    color: #710082;
}
.miolo-conteudo .publicidade:first-child {
    margin-top: 0;
}
.miolo-conteudo .vagas ul li .info .caracteristicas {
    margin: 30px 0 20px;
}
.miolo-conteudo .vagas ul li .info .caracteristicas strong,
.miolo-conteudo .vagas ul li .info .caracteristicas {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
.miolo-conteudo .vagas ul li .info .caracteristicas .col {
    float: left;
    width: calc(50% - 15px);
    padding-left: 5px;
}
.miolo-conteudo .vagas ul li .info .caracteristicas .col:last-child {
    float: right;
}
.miolo-conteudo .vagas ul li .info .caracteristicas strong i {
    color: #7d0091;
    font-size: 22px;
    float: left;
    width: 30px;
    line-height: 24px;
}
.miolo-conteudo .vagas ul li .info .caracteristicas strong {
    margin-bottom: 15px;
}
.miolo-conteudo .vagas ul li .info .caracteristicas strong:last-child {
    margin-bottom: 0;
}
.miolo-conteudo .vagas ul li .info .caracteristicas .col+strong {
    margin-top: 15px;
}
.miolo-conteudo .vagas ul li .info .caracteristicas .carac-item,
.miolo-conteudo .vagas ul li .info .caracteristicas .full {
    float: left;
    width: 100%;
}
.miolo-conteudo .vagas ul li .info .caracteristicas .carac-item {
    margin-bottom: 10px;
    padding: 0 10px;
}
.miolo-conteudo .vagas ul li .info .caracteristicas .full span {
    width: calc(33.333333% - 6.666666666667px);
    float: left;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 5px;
}
.miolo-conteudo .vagas ul li .info .caracteristicas .full span.all {
    width: 100%;
}
.miolo-conteudo .vagas ul li .info .caracteristicas strong+.carac-item {
    margin-top: -5px;
}
.miolo-conteudo .form-area table.vagas-list {
    float: left;
    width: 100%;
    margin: 40px 0 0 0;
    padding: 0;
    border-collapse: collapse;
}
.miolo-conteudo .form-area table.vagas-list tr {} .miolo-conteudo .form-area table.vagas-list tbody tr:nth-child(odd) {
    background: #f0f0f0;
}
.miolo-conteudo .form-area table.vagas-list tr td {
    border-top: 1px solid #999;
    padding: 10px 5px;
    text-align: center;
}
.miolo-conteudo .form-area table.vagas-list tr th {
    border-top: 1px solid #999;
    padding: 10px 5px;
    text-align: left;
}
.miolo-conteudo .form-area table.vagas-list tr th {
    text-transform: uppercase;
    background: #7d0091;
    color: #fff;
    border-color: #7d0091;
    padding: 7px 15px;
}
.miolo-conteudo .form-area table.vagas-list tr td:first-child {
    text-align: left;
}
.miolo-conteudo .form-area .nome,
.miolo-conteudo .form-area .btns-edit {
    float: left;
    width: 100%;
}
.miolo-conteudo .form-area .btns-edit button {
    float: left;
    width: auto;
    padding: 0 5px;
    height: 30px;
    background: #f0f0f0;
    color: #7d0091;
    margin: 0 5px 0 0;
    border-radius: 10px;
    border: 2px solid #7d0091;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.miolo-conteudo .form-area .btns-edit a.buttone {
    float: left;
    width: auto;
    padding: 4px 5px;
    height: 30px;
    background: #f0f0f0;
    color: #7d0091;
    margin: 0 5px 0 0;
    border-radius: 10px;
    border: 2px solid #7d0091;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.miolo-conteudo .form-area .btns-edit button:hover {
    background: #7d0091;
    color: #fff;
}
.miolo-conteudo .form-area .btns-edit button.sair {
    float: right;
    margin: 0;
}
.miolo-conteudo .form-area .nome span,
.miolo-conteudo .form-area .nome strong {
    float: left;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 36px;
}
.miolo-conteudo .form-area .nome span {
    font-size: 16px;
    line-height: 26px;
    margin-top: 5px;
}
.miolo-conteudo .form-area .nome {
    margin-bottom: 0;
    margin-top: 20px;
}
.miolo-conteudo .info-step {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}
.miolo-conteudo .info-step p {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
.miolo-conteudo .info-step p i {
    font-size: 20px;
}
.miolo-conteudo .info-step button,
.miolo-conteudo .info-step p+table.vagas-list {
    margin-top: 15px;
}
.miolo-conteudo nav h4,
.filtro-mobile h4 {
    display: none;
}
.estados-link {
    ;
    cursor: pointer;
}
.ui-autocomplete {
    transition: height 0.5s ease-in-out;
    height: 200px;
    overflow: auto;
}
.ui-menu-item-wrapper,
.ui-menu-item-wrapper:hover {
    width: 99%;
}
.area-institucional {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.institucional h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-tipo {
    float: right;
    height: 50px;
    width: 90%;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background: #710082;
    border: 2px solid #710082;
    padding: 0 20px;
    letter-spacing: .4px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.btn-tipo:hover {
    color: #710082;
    background: #fff;
}
#cadastrarcurriculo:hover {
    background-color: #710082;
    color: white;
}
.modal .box button.cancelar {
    margin-right: 10px;
    background-color: white;
    color: #710082;
}
.modal .box button.cancelar:hover {
    margin-right: 10px;
    background-color: #710082;
    color: white;
}
.blog h2 {
    color: #710082;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.blog img {
    width: 100%;
    margin-top: 10px;
    border-radius: 2px;
    margin-bottom: 20px;
}
.btn-blog {
    background-color: white;
    color: #710082;
    border: 2px solid #710082;
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.btn-blog:hover {
    background-color: #710082;
    color: white;
}
.blog span {
    margin-right: 10px;
}
.blog p {
    font-size: 20px;
    text-align: justify;
}
.fb-comments {
    margin-top: 40px;
}
.painel {
    margin-top: 20px;
    margin-left: 80px;
}
.panel {
    border: 1px solid #710082;
}
.panel .panel-heading {
    background-color: #710082;
    color: white;
}
.blog {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.ti {
    color: #710082;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 100%;
}
.blog img {
    /*width: 500px;
    height: 250px;*/
}
.btn-blog {
    /*background-color: white;
    color: #710082;
    border: 2px solid #710082;
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;*/
    background-color: white;
    color: #710082;
    border: 2px solid #710082;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.btn-blog:hover {
    background-color: #710082;
    color: white;
}
.blog p {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    padding-right: 1em;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.area-institucional {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.institucional h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.ui-autocomplete {
    transition: height 0.5s ease-in-out;
    height: 200px;
    overflow: auto;
}
.ui-menu-item-wrapper,
.ui-menu-item-wrapper:hover {
    width: 99%;
}
.modal .box button.cancelar {
    margin-right: 10px;
    background-color: white;
    color: #710082;
}
.modal .box button.cancelar:hover {
    margin-right: 10px;
    background-color: #710082;
    color: white;
}
.area-institucional {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.institucional h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.area-institucional {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.institucional h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.area-institucional {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.institucional h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.area-institucional {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.institucional h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.fale {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.btn-contato {
    padding: 12px;
    border: 2px solid #710082;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: #710082;
    width: 150px;
}
.btn-contato:hover {
    background-color: #710082;
    color: white;
}
.fale {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.btn-contato {
    padding: 12px;
    border: 2px solid #710082;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: #710082;
    width: 150px;
}
.btn-contato:hover {
    background-color: #710082;
    color: white;
}
.area-institucional {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.institucional {
    margin-top: 40px;
    margin-bottom: 40px;
}
.institucional h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    text-align: left;
    padding: 8px;
}
tr {
    border-bottom: 1px solid #dddddd;
}
.dash {
    padding: 20px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-default {
    border-color: #710082;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #710082;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#ebebeb), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image: -moz-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress {
    height: 12px;
    background-color: #ebeef1;
    background-image: none;
    box-shadow: none;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #710082;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.panel-heading i {
    color: #fff;
}
.panel-heading span,
.panel-heading a {
    color: #fff;
    font-weight: bold;
}
.panel-body {
    text-align: center;
}
.panel-body span {
    font-weight: bold;
}
.panel-body h3 {
    font-size: 42px;
    color: #710082;
    margin-top: 10px;
}
.panel-body .row {
    margin-top: 20px;
}
.panel-body button {
    color: #710082;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #710082;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
.panel-body button:hover {
    color: #fff;
    background-color: #710082;
}
.btn-refresh-perfil {
    width: 65%;
    height: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #710082;
    background-color: #fff;
    border: 2px solid #710082;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 15px;
    text-align: center;
}
.btn-home {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #710082;
    background-color: #fff;
    border: 2px solid #710082;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 19px 15px;
    text-align: center;
}
.break-line-btn-home {
    padding: 8px 20px;
}
.btn-home:hover {
    color: #fff;
    background-color: #710082;
}
.modal .box button.reenviar {
    margin-right: 10px;
    background-color: white;
    color: #710082;
}
#spinner {
    color: #710082;
    margin-left: 5px;
}
#check {
    color: green;
    margin-left: 5px;
}
ul-list-candidaturas {
    margin-bottom: 20px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 5px;
}
.panel-oportunidades {
    text-align: left;
    overflow: auto;
    height: 226px;
}
.height-270 {
    min-height: 270px;
}
.margin-top-10 {
    margin-top: 10px
}
.margin-bottom-20 {
    margin-bottom: 20px
}
.margin-bottom-50 {
    margin-top: 50px
}
.margin-30 {
    margin: 30px;
}
.font-20 {
    font-size: 20px
}
.cor-red {
    color: red
}
.painel-mensagens {
    text-align: left;
    overflow: auto;
    height: 226px;
    padding: 0
}
.icon-msgs-gray {
    color: gray;
    font-size: 20px;
    cursor: pointer
}
.icon-msgs-red {
    color: red;
    font-size: 20px;
    cursor: pointer
}
.msg-excluir {
    font-size: 58px;
    color: #710082;
    margin-bottom: 10px
}
.mgs-alterar-check {
    font-size: 42px;
    color: green;
    margin-bottom: 10px
}
.mgs-excluir-cand {
    font-size: 40px;
    color: gray;
    margin-bottom: 10px
}
.mgs-excluir-msg {
    font-size: 40px;
    color: red;
    margin-bottom: 10px
}
.msg-alterar {
    margin-bottom: 20px;
    text-align: center;
}
#carregar-curriculo {
    width: 120px;
    height: 120px;
    border: 0;
    background-color: transparent;
}
#spinner {
    color: #FFFFFF;
    font-size: 100px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
}
.dash {
    height: auto;
}
#foto-perfil {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-size: contain;
}

#foto-perfil .image img{
    height: 101%;
    margin-left: 17px;
}

#foto-perfil .image img.emp {
    height: 101%;
    margin-left: 4px;
}

#foto-perfil .empimg{
    min-width: 100%;
}

.pd-5{
    padding: 5px
}

.width-26-p{
    width: 26%;
}

.width-32-p{
    width: 32%;
}

.width-80{
    width: 80px;
}

.width-220{
    width: 270px;
}

.width-300{
    width: 300px;
}

.m-h-390{
    min-height: 390px;
}

.td-border{
    border: #ccc solid 1px;
    padding: 5px;
}
.ovf-auto{
    overflow: auto;
}

.f-valid{
    border: #ccc solid 1px;
}

.f-n-valid{
    border: 1px solid #e32222;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-20{
    padding-top: 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.pagop{
    float: left;
    border: #666 solid 2px;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
    font-weight: bold;
}

.pagopac{
    float: left;
    border: #666 solid 2px;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
    font-weight: bold;
    background: #666;
    color: #fff;
}

.pagnobord{
    float: left;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}

.pagop i{
    font-size: 19px;
}

.remove-candidatura{
    font-size: 26px;
    padding: 3px;
}

.hidden{
    display: none;
}

.m-top-10{
    margin-top: 10px;
}

.m-right-20{
    margin-right: 20px;
}

.m-bot-10{
    margin-bottom: 10px;
}

.bt-nav-pag{
    font-size: 30px;
}

.m-bt-20{
    margin-bottom: 20px;
    margin-top: 20px;
}

.redes-sociais{
    margin-top: 80px;
}

.redes-sociais a:link, .redes-sociais a:visited, .redes-sociais a:active, .redes-sociais a{
    font-size: 30px;
    color: #710082;
}

.respostas{
    font-size: 18px;
}

.link-social{
    font-size: 30px;
    margin: 5px;
}