.logo {
    width: 200px;
    height: 80px;
    border: 1px solid #ccc;
}

.t1 {
    margin-top: 20px;
    width: 100%;
}

.t1 td {
    width: 50%;
}

.t2 {
    margin-top: 20px;
    width: 100%;
}

td div {
    margin-bottom: 10px;
}

.t3 {
    margin-top: 20px;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
ul, li{
    list-style: none;
    font-size: 14px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.t1 {
    margin-top: 0px;
    width: 100%;
    height: 100px;
}
.t2{
    font-size: 13px;
}
.sub-table{
    font-size: 13px;
}
.nome_usuario{
    text-align: center;
    margin-bottom: 20px;
    font-size: 27px;
}
img{
    vertical-align: bottom;
}
.info-usuario img{
    width: 17px;
    vertical-align: bottom;
    margin-right: 10px;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        background:#fff;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: auto;
    }
}