.fleft{
    float: left;
}

fright{
    float: right;
}

.op{
    width: 180px;
    padding: 5px;
}

.op label{
    text-align: justify;
    font-size: 10px;
    vertical-align: middle;
}

.padding-bottom-15{
    padding-bottom: 15px;
}

.jumbotron {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    width: 600px;
}
@media(max-width: 600px) {
    .jumbotron {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        padding: 50px;
        width: 300px;
    }
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-7{
    margin-top: 7px;
}

.margin-top-10{
    margin-top: 10px;
}

.width-60{
    width: 60px;
}

.width-80{
    width: 80px;
}

.width-100{
    width: 100px;
}

.width-220{
    width: 220px;
}

.width-290{
    width: 290px;
}

.width-350{
    width: 350px;
}

.width-400{
    width: 400px;
}

.height-12{
    height: 12px;
}

.height-25{
    height: 25px;
}

.op2{
    width: 80px;
    padding: 5px;
}

.op2 label{
    text-align: justify;
    vertical-align: middle;
}

.op3{
    width: 110px;
    padding: 5px;
}

.op3 label{
    text-align: justify;
    vertical-align: middle;
}

.op4{
    width: 115px;
    padding: 5px;
}

.op4 label{
    text-align: justify;
    font-size: 11px;
    vertical-align: middle;
}

a.buttonmd {
    height: 34px;
    border: 2px solid #390042;
    padding: 9px 20px;
    background: #fff;
    color: #390042;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}

a.buttonmini{
    height: 18.5px;
    border: 2px solid #e1230d;
    padding: 0px 20px;
    background: #e1230d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.td-border{
    border: #ccc solid 1px;
    padding: 5px;
}

.table {
    background: white;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.btn {
    font-size: 11px;
    font-weight: bold;
}

.form-control{
    font-size: 11px;
}

.form-control-label, .custom-control-label{
    vertical-align: bottom;
    min-width: 50px;
    padding: 0px 5px;
}

.celula{
    padding: 12px;
}